In [2]:
import sqlite3
import pandas as pd
import savantscraper

# Database for two years and two teams
savantscraper.database_import('baseball_savant',
                              (2017, 2018),
                              teams=['STL', 'COL'])

Seasons:   0%|          | 0/2 [00:00<?, ?it/s]

Teams:   0%|          | 0/2 [00:00<?, ?it/s]

Home/Road:   0%|          | 0/2 [00:00<?, ?it/s]

Home/Road:   0%|          | 0/2 [00:00<?, ?it/s]

Teams:   0%|          | 0/2 [00:00<?, ?it/s]

Home/Road:   0%|          | 0/2 [00:00<?, ?it/s]

Home/Road:   0%|          | 0/2 [00:00<?, ?it/s]

In [3]:
# Connect to the database
conn = sqlite3.connect('baseball_savant.db')

# Query the database and load into a pandas dataframe
df = pd.read_sql_query("select player_name, vx0 from statcast limit 5;", conn)

# Close connection when finished
conn.close()

df

      player_name       vx0
0  Sam Tuivailala  8.807315
1  Sam Tuivailala  4.813130
2  Sam Tuivailala  6.046583
3  Sam Tuivailala  8.539759
4  Sam Tuivailala  6.428411